{% extends "base.html" %}
{% block title %}注册中{% endblock %}
{% block content %}
    <div class="container">
        {% for messsage in messages %}
            <div class="alert alert-{{ messsage.tags }}">{{ messsage }}</div>
        {% endfor %}
    <div class="row">
        <div class="col-md-12" style="width: 80%">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>感谢您的注册，请到邮箱中激活并启用您的账户</h3>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}