{% extends 'base.html' %}
{% block title %}写帖子{% endblock %}
{% block headmessage %}
    <div class="container">
        {% for messsage in messages %}
            <div class="alert alert-{{ messsage.tags }}">{{ messsage }}</div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3>注册</h3>
                </div>
            </div>
        </div>
        <form action="." method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="提交">
        </form>
    </div>
{% endblock %}