{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}活动{% endblock %}
{% block headmessage %}
    <a>活动报名者</a>
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="width: 300px">{{ message }}</div>
    {% endfor %}
<div class="col-md-12 col-xs-12">
    {% for user in allsignupUserlist %}
    <b>{{user.username}}</b>&nbsp;<a href="../../aid/{{ recruitActivity.id }}recruitratify{{ user.id }}">接受报名</a> <br>
    {% endfor %}
</div>
{% endblock %}