<!DOCTYPE html>
{% load staticfiles %}
<html style="width: 100%;height: 100%;">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body style="width: 100%;height: 100%;background: url({% static "img/bg1.png" %});overflow: hidden;background-size: 100vw 100vh;">
		<div style="width: 100%;height: 100%; ">
			<div style="width: 100%;height: 13%;margin-top: 7%;">
				<div style="font-size: 1.5vw;font-family:FZYaoTi;color: rgba(255, 255, 255, 0.502);text-align: center;">欢迎你加入</div>
				<div style="font-size: 2.5vw; font-family: Adobe Heiti Std;color: rgb(255, 255, 255);text-align: center;padding-top: 1vh;">AID急救交流生态圈</div>
			</div>
			<div style="width: 100%;height:65%;">
				<div style="width: 50%;height: 100%;float: left;">
					<img src="bg2.png" style="height: 55%; position:fixed; bottom:11%;" />
				</div>

				<div style="width: 50%;height: 100%;float: left;">
					<div style="width: 100%;height: 20%; font-family: Adobe Heiti Std;color: rgb(255, 255, 255);font-size: 1vw;">
						<div style="padding-top: 1%;">这里有专业的急救知识社区</div>
						<div style="padding-top: 1%;">这里有志同道合的的专业急救伙伴</div>
						<div style="padding-top: 1%;">这里由为大型活动保障生命的机会<a href="" style="padding-left: 5%;">了解更多</a></div>
					</div>
					<div style="width: 100%;height: 80%; font-family: Adobe Heiti Std;color: rgb(255, 255, 255);font-size: 1vw;">
						<input id="username" style="border-radius: 0.5vh;border: none;width: 40%;height:10%;margin-top: 4%;" placeholder="  用户名" /><br />
						<input id="mail" style="border-radius: 0.5vh;border: none;width: 40%;height:10%;margin-top: 4%;" placeholder="  邮箱账号" />
						<a href="" style="margin-left: 5%;cursor: pointer;" onclick="sent()">发送验证码</a><br />
						<input id="key0" style="border-radius: 0.5vh;border: none;width: 40%;height:10%;margin-top: 4%;" placeholder="  密码" /><br />
						<input id="key1" style="border-radius: 0.5vh;border: none;width: 40%;height:10%;margin-top: 4%;" placeholder="  再次输入密码" /><br />
						<input id="code" style="border-radius: 0.5vh;border: none;width: 40%;height:10%;margin-top: 4%;" placeholder="  输入验证码" />
						<button style="width: 20%;height: 10%;margin-left: 10%;border-radius: 5px;background-color: rgb(0, 173, 239);border: none;color: white;cursor: pointer;">注册</button><br />
						<div style="margin-left: 50%;color: white;font-size: 0.8vw;">注册即代表您已同意<a href="">用户协议</a></div>
					</div>
				</div>
			</div>
			<div style="font-size: 0.8vw;width: 100%;height: 15%;background-color: rgb(25, 41, 52);font-family: Adobe Heiti Std;text-align: center;padding-top: 1%;color: white;">欢迎急救培训机构使用配套AID智能急救教学系统!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击
				<a href="">了解更多</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商业合作请联系工作邮箱&nbsp;<a href="">123456789@163.com</a></div>



		</div>
	</body>
	<script>
		function sent() {
			alert("发送验证码")
		}
	</script>
</html>
