{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}数据展示{% endblock %}
{% block content %}
<form>
   <input type="file" id="a">
</form>
<script>
   let files = $('#a').filebox('files');
   let fd = new FormData();
   fd.append('order_id',{{order_id}})
   fd.append('file', files[0]);
   fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');// post 提交的时候 django 会启动 csrf 验证
   $.ajax({
       url: '{% url 'order_detail' %}',
       type: 'post',
       data: fd,
       processData: false,  // 告诉jQuery不要去处理发送的数据
       contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
       success: function () {
           alert('ok')
       }
   })
</script>
{% endblock %}}