{% extends 'base.html' %}
{% block title %}hello{% endblock %}
{% block content %}
    <div class="container" style="width: 80%">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">
                        <h3>用户信息</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" align="center">
                        {{ username }}
                    </div>
                    <div class="panel panel-body">
                        用户类型：{{ty}}<br/>
                        电子邮件：{{ user.email }}<br/>
                        性别：{{ user.gender|yesno:"男生,女生" }}<br/>
                        年龄：{{user.age}}<br/>
                        自我介绍：{{ user.signature }}<br/>
                        认证状态：{{user.isAttest|yesno:"认证通过,未认证"}}
                    </div>
                </div>
            </div>
        </div>
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" style="width: 300px">{{ message }}</div>
            {% endfor %}
        <form name="profile" action="." method="post">
            <h3>修改个人资料：</h3><br>
            {% csrf_token %}
            <table>
                {{ profile_form.as_p }}
            </table>
            <input type="submit" value="修改">
        </form>
    </div>

{% endblock %}