{% extends 'base.html' %}
{% block title %}联系站主{% endblock %}
{% block content %}

        <div class="panel panel-primary" >
            <form name="ContactForm" action='.' method="post">
                <div class="panel-heading">
                    {% csrf_token %}<!--配合Django的安全机制-->
                    <h3>为本站提供建议,您的宝贵建议将被发送到站主邮箱</h3>
                </div>
                <div class="panel-body">
                    {{ form.as_p }}
                </div>
                <div class="panel-footer">
                    <input type="submit" value="提交">
                </div>
            </form>
        </div>
        {% if ans %}
            <div class="alert-warning">{{ ans }}</div>{% endif %}

{% endblock %}