<!-- base.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<!-- 背景动画 -->
<canvas id="c_n9" width="1920" height="990" style="position: fixed; top: 0; left: 0; z-index: -1; opacity: 1;"></canvas>
<script src="../../static/message_board/js/particle.js"></script>
<head>
    <meta charset='utf-8'>
    <title>
        {% block title %} {% endblock %}
    </title>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body style=" background-image: url({% static "message_board/image/bkg.jpg" %});background-repeat: repeat-x ;background-size: 1600px">
<div class='container-fluid'>
    {% include 'header.html' %}
    <div class='row' aria-setsize="" style="position: absolute;top:125px;width: 100%">
        <div class='col-md-3'><!--横向共12个格子-->
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>
                        菜单
                    </h3>
                </div>
                <div class='panel-body'>
                    <div class='list-group'>
                        <a href='/' class='list-group-item'>本站首页</a>
                        <a href='https://zouhanzhang666.github.io' class='list-group-item'>邹汉章的个人主页</a>
                        <a href='http://drho.tw/news' class='list-group-item'>电视新闻</a>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-8 col-md-8'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    {% block headmessage %} {% endblock %}
                </div>
                <div class='panel-body'>
                    {% block content %} {% endblock %}
                </div>
                <div class='panel-footer'>
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
