{% load staticfiles %}
<div class="well">
    <img alt="logo" src="{% static "testapp1/images/logo.jpg" %}" height="80" align="left" title="logo">
    <big style="font-size: 40px">&nbsp&nbsp邹汉章的Django网站&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</big>

    {% if username %}
        <a href="/logout" style="font-size: 30px">退出登录</a>
    {% else %}
        <a href="/login" style="font-size: 30px">登录&nbsp/</a>
        <a href="/accounts/register" style="font-size: 30px">&nbsp注册</a>
    {% endif %}

</div>